
img 
{
    width:auto;
    height:300px;
    display:none;
    cursor:pointer;

}
h2
{
    color: blue;
    text-align:center;
    font-size:30px;
    font-weight:bolder;
    
}
.abhi 
{
    font-size: 20px;
    width:800px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px dotted red;
    border-top-left-radius: 100px;
    background-color: rgba(51, 109, 49, 1);
    margin-top:100px;
    margin-left:100px;
    margin-bottom: -200px;
    padding:50px;    
    z-index:1;
}
.nowfal 
{
    background-color: red;
    margin:50px;
    text-align:center;
    z-index:0;
    padding:30px;
    font-size:30px;
    color:white;
}
a 
{
    color:black;
    text-decoration: none;
}

span 
{
    margin-right:50px;
}

.parent 
{
    animation :move 3s infinite alternate;
    display:flex;
    flex-direction: column;
    align-items:center;
    height:500px;
    width:60vw;
    margin-left: 20vw;
}

@keyframes move 
{
    0% 
    {
        transform: translateX(-300px);
    }
    100% 
    {
        transform: translateX(300px);
    }
}

.ball 
{
    margin-top:410px;
    background-color: red;
    height:60px;
    width:60px;
    border-radius: 50%;
    animation: Bounce 0.5s infinite alternate;
}
.paddle
{
    background-color: rgb(14, 36, 233);
    width:200px;
    height:20px;
    border-radius:10px
}
@keyframes Bounce
{
  
    100%
    {
        transform:translateY(-200px);
        
    }
}

